<div class = "card text-center bg-light mb-3 border-light mb-3">
  <div class = "card-body">
    <h1>{{name}}</h1>
    <h2>{{address}}</h2>
    <ul>
    {{#each foodGroups as |foodGroup|}}
      <li>{{foodGroup}}</li>
    {{/each}}
    </ul>
  </div>
</div>
